<% 
    if (Array.isArray(opt.products) && opt.products.length) {
        
        const search = new _.EcomSearch()
        await search.setProductIds(opt.products).fetch(true)
        const items = opt.products[0] && opt.products[0].sku ? opt.products : search.getItems().filter(item => _.ecomUtils.inStock(item))
    
        opt.num_col_sm = opt.num_col_sm ? opt.num_col_sm : 3
        opt.carrossel_sm = opt.carrossel_sm ? opt.carrossel_sm : true
        opt.num_col_md = opt.num_col_md  ? opt.num_col_md  : 3
        opt.carrossel_md = opt.carrossel_md ? opt.carrossel_md : false
        opt.carrossel_dots_md = opt.carrossel_dots_md ? opt.carrossel_dots_md : false
        opt.carrossel_arrows_md = opt.carrossel_arrows_md ? opt.carrossel_arrows_md : false
        opt.carrossel_dots_sm = opt.carrossel_dots_sm ? opt.carrossel_dots_sm : true
        opt.carrossel_arrows_sm = opt.carrossel_arrows_sm ? opt.carrossel_arrows_sm : true
        opt.padding = opt.padding ? opt.padding : 'px-md-3'
        opt.padding_sm = opt.padding_sm ? opt.padding_sm : 'px-2'
        opt.container = opt.container ? opt.container : 'container_90'
        opt.padding_md = opt.padding_md ? opt.padding_md : 'px-md-1'
    %>
    
    <section
      class="apx_product-list mt-<%= opt.margin_top %> mb-<%= opt.margin_bottom %> pt-<%= opt.padding_top %> pb-<%= opt.padding_bottom %>"
      data-num_col_sm="<%= opt.num_col_sm  %>"
      data-carrossel_sm="<%= opt.carrossel_sm %>"
      data-num_col_md="<%= opt.num_col_md %>"
      data-carrossel_md="<%= opt.carrossel_md %>"
      data-carrossel_dots_md="<%= opt.carrossel_dots_md %>"
      data-carrossel_arrows_md="<%= opt.carrossel_arrows_md %>"
      data-carrossel_dots_sm="<%= opt.carrossel_dots_sm %>"
      data-carrossel_arrows_sm="<%= opt.carrossel_arrows_sm %>"
     >
     <div class="<%= opt.container %> <%= opt.padding_sm %> <%= opt.padding_md %> pb-5">
        <div class="row align-items-start">
            <div class="col">
                <%
                    if(opt.title){
                        %>
                            <div class="apx_section-title text-center">
                            <%
                            if(opt.list != "description_last"){
                                %>
                                <small class="text-uppercase"><%- opt.description %></small>
                                <%
                            }
                            %>
                                <h2 class="text-bold text-uppercase"><%- opt.title %></h2>
                            <%
                            if(opt.list == "description_last"){
                                %>
                                <small class="text-uppercase"><%- opt.description %></small>
                                <%
                            }
                            %>
                            </div>
                        <%
                    }
                %>
            </div>
            <% if (opt.btn_text && opt.btn_link) {%>
            <div class="col-auto">
                <a class="apx_title_btn_link d-block py-2 px-3" href="<%= opt.btn_link %>">
                    <%- opt.btn_text %>
                </a>
        
            </div>
            <% } %>
        </div>
        <div class="row list <%= opt.padding %>">        
            <% for (let i = 0; i < items.length; i++) { %>
              <div class="col-md-<%= 12 / opt.num_col_md  %> col-sm-<%= 12 / opt.num_col_sm  %> <%= opt.padding %> <%= opt.padding_sm %> my-4">
                <%- await include('@/sections/inc/product-item', {
                  _, opt: { item: items[i] }
                }) %>
              </div>
            <% } %>          
        </div>
    </div>
    </section>
  <% } %>
  