<div class="apx_responsive-banner pt-md-<%= opt.padding_top %> pt-<%= opt.padding_top_m %> mt-md-<%= opt.margin_top %> mt-<%= opt.margin_top_m %> pb-md-<%= opt.padding_bottom %> pb-<%= opt.padding_bottom_m %> mb-md-<%= opt.margin_bottom %> mb-<%= opt.margin_bottom_m %>
    ">
    <div class="d-flex justify-content-center <%= opt.container %> <%= opt.padding %>">
        <%- await include('@/sections/inc/apx_banner', { _, opt }) %>    
    </div>    
</div>
  