<%
// load footer options and contacts from content
const footer = _.cms('footer') || {}
const apx_footer = _.cms('apx_footer') || {}
const contacts = _.cms('contacts') || {}
const themeCustom = _.settings.theme.custom || ''
%>
<script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
</script>
<script type="text/javascript">
   (function(){
      emailjs.init("KivQFq66vRJXufEC-");
   })();
   
</script>
<footer id="apx-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-4 px-4 py-5 mb-5 apx-newsletter d-block d-md-none">
        <h4>Cadastre-se em nossa newsletter</h4>
        <form action="" class="py-2">
          <input type="mail" placeholder="Seu e-mail...">
          <button><img src="/assets/arrow-right.svg"/></button>
        </form>
        <p class="mt-3 mb-0">Ao inserir seu endereço de e-mail acima, você consente em receber nossa newsletter com acesso às nossas últimas coleções, eventos e iniciativas. Mais detalhes sobre isso são fornecidos em nossa <a href="/pages/politica-de-privacidade">política e privacidade</a>.</p>
      </div>
      <div class="col-12 col-md">
        <div class="row h100 justify-content-between">
          <% if (apx_footer.links) { %>
            <% apx_footer.links.forEach(({ title, list })=> { %>
              <div class="col-12 p-md-5 p-2 bordered-right col-md">
                <h4><%= title %></h4>
                <ul class="links">
                  <% list.forEach(({ item })=> { %>
                    <li>
                      <a href="<%= item.url %>">
                        <%= item.title %>
                      </a>
                    </li>
                  <% }) %>
                </ul>
              </div>
            <% }) %>
        <% } %>
        </div>
      </div>
      <div class="col-12 col-md-4 py-md-5 px-md-5 p-0 apx-newsletter ">
        <div class="d-none d-md-block">
          <h4>Cadastre-se em nossa newsletter</h4>
          <form action="" class="py-2">
            <input type="mail" placeholder="Seu e-mail..." required="true">
            <button><img src="/assets/arrow-right.svg"/></button>
          </form>
          <p class="mt-3">Ao inserir seu endereço de e-mail acima, você consente em receber nossa newsletter com acesso às nossas últimas coleções, eventos e iniciativas. Mais detalhes sobre isso são fornecidos em nossa <a href="/pages/politica-de-privacidade">política e privacidade</a>.</p>
        </div>
        <% if (footer.contacts.socials) { %>
          <p class="footer__social">
            <%- await include('@/layout/inc/networks', { _, contacts }) %>
          </p>
        <% } %>
        <button class="back-top d-flex d-md-none" type="button">
          Ir ao topo
        </button>
      </div>
    </div>
    <div class="row  credits py-4 bordered-top align-items-center justify-content-between">
      <div class="col-12 px-5  col-md"><p><%- footer.credits || `© ${_.store.name} / ${contacts.address} / ${contacts.doc_number}` %></p></div>
      <div class="col-12 px-5  col-md d-flex align-items-center justify-content-center">        
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M31.944 10.5206C31.8544 9.4372 31.656 8.3828 31.36 7.3716C31.208 6.8484 31.0288 6.3364 30.824 5.8386C30.2864 5.9314 29.7536 6.0404 29.2288 6.1668C27.9552 6.4708 26.72 6.8692 25.5296 7.3556V7.3572C25.7648 7.8356 25.9888 8.3204 26.2 8.8116C27.352 8.3444 28.5472 7.9652 29.7808 7.6804C30.088 8.6884 30.2864 9.7444 30.3632 10.8326C30.3872 11.1734 30.4 11.519 30.4 11.8662C30.4 14.3384 29.7776 16.6632 28.6816 18.6954C28.0144 19.9338 27.1696 21.0634 26.1824 22.0492C25.992 22.2396 25.7968 22.4236 25.5968 22.6012C25.6 22.534 25.6 22.4668 25.6 22.3996C25.6 22.2892 25.5984 22.1788 25.5936 22.0684V22.0668C25.5984 21.8666 25.6 21.6666 25.6 21.4666C25.6 18.6218 25.1872 15.8712 24.4176 13.2758C24.1088 12.2278 23.7392 11.2054 23.3168 10.2118C23.1072 9.7172 22.8832 9.2292 22.6464 8.7492C21.2448 5.9026 19.3856 3.3234 17.1664 1.1024L17.1648 1.1008C16.7872 0.7232 16.3984 0.3552 16 0C15.6016 0.3552 15.2128 0.7232 14.8352 1.1008L14.8336 1.1024C12.6144 3.3234 10.7552 5.9026 9.3536 8.7492C7.3168 7.602 5.1056 6.7236 2.7712 6.1668C2.2464 6.0404 1.7136 5.9314 1.176 5.8386C0.9712 6.3364 0.792 6.8484 0.64 7.3716C0.344 8.3828 0.1456 9.4372 0.056 10.5206C0.0192 10.9638 0 11.4134 0 11.8662C0 17.1864 2.5968 21.9018 6.592 24.8076C6.6384 24.8444 6.6848 24.878 6.7328 24.9116C7.2544 25.2828 7.7984 25.6236 8.3648 25.9308C8.2544 25.2668 8.1696 24.5932 8.1088 23.9116H8.1072C8.096 23.774 8.0848 23.6364 8.0752 23.4988V23.494C8.0256 23.1356 8 22.7708 8 22.3996C8 22.2924 8.0016 22.1868 8.008 22.0812C8.0064 22.078 8.0064 22.0764 8.008 22.0748C8.0064 22.0732 8.008 22.0716 8.008 22.0716C8.0016 21.8698 8 21.6682 8 21.4666C8 19.7546 8.1584 18.081 8.4608 16.4568C8.6032 15.6952 8.776 14.9432 8.9808 14.2056C8.528 13.8774 8.0624 13.567 7.5824 13.2758C6.8128 15.8712 6.4 18.6218 6.4 21.4666C6.4 21.6666 6.4016 21.8666 6.4064 22.0668C6.4016 22.1772 6.4 22.2876 6.4 22.3996C6.4 22.4668 6.4 22.534 6.4032 22.6012C3.4544 19.9658 1.6 16.1336 1.6 11.8662C1.6 11.519 1.6128 11.1734 1.6368 10.8326C1.7136 9.7444 1.912 8.6884 2.2192 7.6804C4.5184 8.2116 6.6912 9.0724 8.6832 10.2118C9.1536 10.479 9.6128 10.7622 10.0608 11.0614C11.0752 11.7334 12.0352 12.4822 12.9328 13.2982C13.2176 13.5574 13.4976 13.8246 13.7696 14.0968C13.9328 14.26 14.0928 14.4248 14.2512 14.5912C14.4944 14.8504 14.7328 15.1144 14.9664 15.3832C14.2848 16.2584 13.6608 17.18 13.0976 18.1418C11.8448 20.281 10.8928 22.6188 10.3008 25.0956C10.1744 25.6204 10.0656 26.1534 9.9728 26.691C9.9264 26.963 9.8832 27.2366 9.8448 27.5102C9.7504 28.1966 9.6816 28.891 9.6416 29.5934C10.1216 30.0176 10.6448 30.3952 11.2032 30.7168C12.1792 31.2816 13.2624 31.6784 14.416 31.8688C14.9312 31.9552 15.4608 32 16 32C16.5392 32 17.0688 31.9552 17.584 31.8688C18.7376 31.6784 19.8208 31.2816 20.7968 30.7184V30.7168C21.3552 30.3952 21.8784 30.0176 22.3584 29.5934C22.3184 28.891 22.2496 28.1966 22.1552 27.5102C22.1168 27.2366 22.0736 26.963 22.0272 26.691C21.9344 26.1534 21.8256 25.6204 21.6992 25.0956C21.1072 22.6188 20.1552 20.281 18.9024 18.1418C18.5376 18.601 18.1936 19.0746 17.8672 19.5642C18.9024 21.4522 19.688 23.494 20.1856 25.6476C20.3056 26.1678 20.408 26.6942 20.4944 27.227C20.5824 27.7694 20.6512 28.3182 20.7008 28.8734C19.7888 29.5374 18.7312 30.0128 17.584 30.2432C17.072 30.3456 16.5424 30.4 16 30.4C15.4576 30.4 14.9296 30.3456 14.4176 30.2432H14.416C13.2688 30.0128 12.2112 29.5374 11.2992 28.8734C11.3488 28.3182 11.4176 27.7694 11.5056 27.227C11.592 26.6942 11.6944 26.1678 11.8144 25.6476C12.312 23.494 13.0976 21.4522 14.1328 19.5642C14.6848 18.5514 15.3104 17.5832 16 16.6664C16.3296 16.2264 16.6752 15.7992 17.0336 15.3832C17.2672 15.1144 17.5056 14.8504 17.7488 14.5912H17.7504C17.9072 14.4248 18.0672 14.26 18.2304 14.0968C18.5024 13.8246 18.7824 13.5574 19.0672 13.2982C19.9648 12.4822 20.9248 11.7334 21.9392 11.0614C22.36 12.079 22.7232 13.1286 23.0192 14.2056C23.224 14.9432 23.3968 15.6952 23.5392 16.4568C23.8416 18.081 24 19.7546 24 21.4666C24 21.6682 23.9984 21.8684 23.992 22.07C23.9936 22.0716 23.9936 22.0732 23.992 22.0748C23.9936 22.0764 23.9936 22.078 23.992 22.0812C23.9984 22.1868 24 22.2924 24 22.3996C24 22.7708 23.9744 23.1356 23.9248 23.494V23.4988C23.9152 23.6364 23.904 23.774 23.8912 23.9116C23.8304 24.5932 23.7456 25.2668 23.6352 25.9308C24.2016 25.6236 24.7456 25.2828 25.2672 24.9116C25.3152 24.878 25.3616 24.8444 25.408 24.8076C26.0848 24.3164 26.7232 23.7724 27.3136 23.1804C27.848 22.646 28.3456 22.0732 28.8 21.4666C30.8096 18.793 32 15.4696 32 11.8662C32 11.4134 31.9808 10.9638 31.944 10.5206ZM17.1904 12.8726C17.1584 12.903 17.128 12.9334 17.0976 12.9638C16.72 13.3414 16.3536 13.7318 16 14.1336C15.6464 13.7318 15.28 13.3414 14.9024 12.9638C14.872 12.9334 14.8416 12.903 14.8096 12.8726C13.568 11.6422 12.2 10.5382 10.7264 9.5828C12.0592 6.8436 13.8368 4.3618 15.9664 2.2322L16 2.1986L16.0336 2.2322C18.1632 4.3618 19.9408 6.8436 21.2736 9.5828C19.8 10.5382 18.432 11.6422 17.1904 12.8726Z" fill="#999999"/>
          </svg>
  
      </div>
      <div class="col-12 px-5  col-md d-flex justify-content-end">
        <a href="https://www.alpix.dev?ref=hera">
          <span>Desenvolvimento</span>
          <svg width="40" height="16 " viewBox="0 0 60 28" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_31_1263)"><path d="M43.7644 7.63232H40.1797V20.8159H43.7644V7.63232Z" fill="black"></path><path d="M20.7804 0H17.2144V20.8157H20.7804V0Z" fill="black"></path><path d="M31.1909 7.43409C30.0593 7.43289 28.9453 7.7138 27.9496 8.25141V7.66361H24.3687V27.9904H27.9496V20.2613C28.8632 20.7539 29.8771 21.0315 30.9142 21.0731C31.9513 21.1147 32.9842 20.9191 33.9343 20.5012C34.8844 20.0833 35.7266 19.4541 36.3968 18.6616C37.067 17.869 37.5476 16.934 37.8018 15.9277C38.0561 14.9214 38.0775 13.8704 37.8642 12.8546C37.6509 11.8388 37.2087 10.8851 36.5712 10.066C35.9337 9.24693 35.1177 8.58412 34.1853 8.12803C33.253 7.67194 32.2288 7.43461 31.1909 7.43409ZM31.1909 17.4865C30.5516 17.4865 29.9267 17.2969 29.3951 16.9416C28.8636 16.5864 28.4493 16.0816 28.2048 15.4909C27.9602 14.9002 27.8963 14.2503 28.0212 13.6233C28.146 12.9963 28.454 12.4204 28.9062 11.9685C29.3584 11.5165 29.9345 11.2089 30.5615 11.0844C31.1886 10.9599 31.8385 11.0241 32.429 11.269C33.0196 11.514 33.5242 11.9285 33.8791 12.4602C34.234 12.992 34.4233 13.617 34.4229 14.2563C34.4229 14.6807 34.3393 15.1009 34.1768 15.4929C34.0144 15.8849 33.7763 16.2411 33.4762 16.541C33.176 16.841 32.8197 17.0789 32.4276 17.2411C32.0355 17.4033 31.6153 17.4867 31.1909 17.4865Z" fill="black"></path><path d="M10.0448 20.7823H13.622V7.63043H10.0523V8.24623C9.0588 7.71375 7.94938 7.43431 6.82218 7.43263C6.07952 7.43117 5.34176 7.55287 4.63891 7.79278C3.28684 8.24921 2.11199 9.11824 1.2798 10.2775C0.44761 11.4368 0 12.8279 0 14.2549C0 15.6819 0.44761 17.073 1.2798 18.2323C2.11199 19.3915 3.28684 20.2606 4.63891 20.717C6.05482 21.1972 7.58954 21.1972 9.00545 20.717C9.36703 20.5968 9.71733 20.4451 10.0523 20.2636L10.0448 20.7823ZM6.82218 17.5653C6.18288 17.5656 5.55782 17.3764 5.02608 17.0215C4.49433 16.6666 4.07979 16.1619 3.83488 15.5714C3.58998 14.9808 3.52571 14.3309 3.6502 13.7039C3.7747 13.0768 4.08237 12.5008 4.5343 12.0486C4.98622 11.5964 5.5621 11.2884 6.1891 11.1635C6.8161 11.0387 7.46604 11.1025 8.05671 11.3471C8.64739 11.5917 9.15227 12.0059 9.50749 12.5375C9.86271 13.069 10.0523 13.694 10.0523 14.3333C10.0526 14.7576 9.96918 15.1778 9.80696 15.57C9.64474 15.9621 9.40685 16.3184 9.10688 16.6185C8.80692 16.9187 8.45075 17.1568 8.05873 17.3192C7.66671 17.4816 7.24653 17.5653 6.82218 17.5653Z" fill="black"></path><path d="M59.4352 7.66406L57.0803 10.9987H52.6895L55.0425 7.66406H59.4352Z" fill="black"></path><path d="M59.7565 20.8159H55.3377L52.6898 17.1995L50.1538 20.8159H45.7593L50.4766 14.1243L50.4953 14.0982L48.2915 10.9987L45.9216 7.66406H50.3404L52.6898 10.9987H52.6935L54.8973 14.1243H54.9066L59.7565 20.8159Z" fill="black"></path><path d="M20.7804 24.4341H17.2144V28.0001H20.7804V24.4341Z" fill="#FC5656"></path><path d="M40.1794 0H36.5947V3.58467H40.1794V0Z" fill="#B32FD3"></path><path d="M20.7804 24.4341H17.2144V28.0001H20.7804V24.4341Z" fill="url(#paint0_linear_31_1263)"></path><path d="M40.1794 0H36.5947V3.58467H40.1794V0Z" fill="url(#paint1_linear_31_1263)"></path></g><defs><linearGradient id="paint0_linear_31_1263" x1="17.2144" y1="13.9992" x2="40.1798" y2="13.9992" gradientUnits="userSpaceOnUse"><stop stop-color="#FC5656"></stop><stop offset="1" stop-color="#B32FD3"></stop></linearGradient><linearGradient id="paint1_linear_31_1263" x1="17.214" y1="13.9991" x2="40.1794" y2="13.9991" gradientUnits="userSpaceOnUse"><stop stop-color="#FC5656"></stop><stop offset="1" stop-color="#B32FD3"></stop></linearGradient><clipPath id="clip0_31_1263"><rect width="59.7563" height="28" fill="white"></rect></clipPath></defs></svg>
        </a>
      </div>
    </div>
  </div>  
</footer>
 

				

				