<%
// load header options and contacts from content
const header = _.cms('header') || {}
const apx_header = _.cms('apx_header') || {}
const contacts = _.cms('contacts') || {}
const themeCustom = _.settings.theme.custom || ''

// social networks handled by contacts
const networks = [
  'facebook',
  'youtube',
  'instagram',
  'twitter',
  'pinterest',
  'linkedin',
  'tiktok'
]

// marketing stripe custom styles
let marketingStripeStyle = ''
;['background', 'color'].forEach(prop => {
  if (header.marketing_stripe[prop]) {
    marketingStripeStyle += `${prop}:${header.marketing_stripe[prop]};`
  }
})

%>

<div id="overlay" class="fade"></div>
<header class="header py-0 px-0" id="header">
  <div class="top_cta py-3 d-none d-md-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col text-center">
          <div class="apx_top_cta">
          <% if (header.marketing_stripe) { %>
            <% if (header.marketing_stripe.text) { %>
              <% if (header.marketing_stripe.link) { %>
                <a
                  href="<%= header.marketing_stripe.link %>"
                >
                  <%- header.marketing_stripe.text %>
                </a>
              <% } else { %>
                <div class="top-bar__countdown">
                  <%- header.marketing_stripe.text %>
                </div>
              <% } %>
            <% } %>
          <% } %>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <div class="container-fluid px-md-5 px-0">
    <div class="row align-items-center py-md-4 py-3 px-0 px-md-0 ">
      
      <div class="col-md col d-block d-md-none" id="apx-mobile-functions">
        <div class="d-flex">
          <button type="button" onclick="$('#apx-menu-container').toggleClass('active');$(this).toggleClass('active')">                        
          </button>          
        </div>
      </div>
      
      <div class="col-auto" id="apx-logo">
        <a href="/">
          <%- await include('@/layout/inc/logo', { _ }) %>
        </a>
      </div>
      <div class="col" id="apx-menu-container">
        <div class="container-fluid">
          <div class="row justify-content-start">
            <div class="col-md" id="apx-menu">
              <div class="d-md-none d-block">
                <strong class="heading-text">Menu</strong>
              </div>

              <% if (apx_header.links) { %>
                <div class="">
                <ul class="level_1">
                  <% apx_header.links.forEach(({ url, title, images, list })=> {
                    let mega = images && images.length > 0 ? 'max_menu' : false;
                    %>
                    <li class="<%= list ? 'dropdown' : ''%> <%= mega ? mega : 'normal'%>">
                      
                      <a href="<%= url %>">
                        <%= title %>
                      </a>
                      <% if (list) { %>
                        <button type="button" onclick="$(this).closest('li').toggleClass('open')">                                                
                          <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M1 1L7 7L13 1" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>  
                        </button>
                      <% } %>
                      
                      <% if (list) { 
                        
      
                        
                        %>
                        <div class="level_2 <%= mega ? mega : 'normal'%>">                          
                          <% if (mega) { %><div class="container py-4"><% } %>
                            <ul class="<%= mega ? ' row justify-content-between' : '' %>">
                              <% list.forEach(({ item })=> { 
                                %>
                                <li class="<%= mega ? 'col bordered mx-md-2' : '' %>">
                                  <a href="<%= item.url %>">
                                    <%= item.title %>
                                    <% let main = item.url %>
                                  </a>
                                  <% if (item.list) { %>
                                    <ul>
                                    <% item.list.forEach(({ item })=> { %>
                                      <li>
                                        <a href="<%= item.url.startsWith('?') ? main + item.url : item.url %>">
                                          <%= item.title %>
                                        </a>
                                      </li>
                                    <% }) %>
                                    </ul>
                                  <% } %>                               
                                </li>
                                <!-- <li class="col-auto divider"></li> -->
                              <% }) %>
                              <% if (mega) { %>  
                                <li class="col-md-6  mx-md-2 d-md-block d-none">
                                  <div class="mega-slider">
                                  <% images.forEach(({ item })=> { 
                                    %>
                                    <div class="item">
                                      <a href="<%= item.url %>">
                                        <img src="<%= item.image %>"/>
                                        <button type="button"><%= item.title %>
                                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9 6L15 12L9 18" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg> 
                                        </button>
                                      </a>                                                                 
                                    </div>
                                  <% }) %>
                                </div>
                                </li>
                              <% } %>

                            </ul>
                            <% if (mega) { %></div><% } %>
                        </div>
                      <% } %>
                    </li>
                  <% }) %>

                  <li class="d-md-none d-block">
                    <strong class="heading-text">Em destaque</strong>
                    <div class="mega-slider mobile">
                    <% apx_header.links.forEach(({ url, title, images, list })=> {                                      
                      if(images && images.length > 0)  {
                      images.forEach(({ item })=> { 
                          %>
                          <div class="item">
                            <a href="<%= item.url %>">
                              <img src="<%= item.image %>"/>
                              <button type="button"><%= item.title %>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M9 6L15 12L9 18" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                                  </svg> 
                              </button>
                            </a>                                                                 
                          </div>
                        <% })
                        }
                        %>
                    <% }) %>
                    </div>
                    <a id="cart-button"
                    
                    role="button"
                    href="/app/#/cart"
                    title="<%= _.dictionary('openCart') %>" class="btn btn-cart">Ver Carrinho</a>
                    <a
                      id="user-button"
                      class="btn btn-lg"
                      role="button"
                      href="/app/#/account/"
                      title="<%= _.dictionary('myAccount') %>"
                    >
                      Minha Conta
                    </a>
                    
                  </li>

                </ul>
                </div>
              <% } %>
              
            </div>
          </div>
        </div>
      </div>
      <div class="col-md col justify-content-end" id="apx-functions">       
        <div
          class="header__buttons"
          role="group"
          aria-label="<%= _.dictionary('myAccount') %>"
        >          
          <button
            type="submit"
            class="apx_search-trigger d-md-block d-none"
            id="apx_search-trigger"
            data-toggle="collapse"
            data-target="#search-bar"
            aria-expanded="true"
            aria-controls="search-bar"
            aria-label="<%= _.dictionary('searchProducts') %>"
          >
            <img src="/assets/search.svg"/>
          </button>
          <!-- <span class="divider d-md-block d-none"></span> -->
          <!-- <a
            href="/page/onde-encontrar"
            title="Onde Encontrar"
            class="d-md-block d-none"
          >
            Onde Encontrar
          </a> -->
          <!-- <span class="divider d-md-block d-none"></span> -->
          <a
            id="user-button"
            class="btn btn-lg d-md-block d-none"
            role="button"
            href="/app/#/account/"
            title="<%= _.dictionary('myAccount') %>"
          >
            Entrar
          </a>
          <!-- <span class="divider d-md-block d-none"></span> -->
          <a
            id="cart-button"
            class="btn btn-lg"
            role="button"
            href="/app/#/cart"
            title="<%= _.dictionary('openCart') %>"
          >
            <img src="/assets/cart_2.svg"/>
            <span id="cart-count" class="badge badge-primary"></span>
          </a>
        </div>
      </div>
    </div>
    
    <div id="login-modal">
      <!--
        `LoginModal` should be rendered here:
        https://developers.e-com.plus/storefront/@ecomplus/storefront-components/docs/LoginModal.html
      -->
    </div>
    <div id="cart-quickview">
      <!--
        `CartQuickview` should be rendered here:
        https://developers.e-com.plus/storefront/@ecomplus/storefront-components/docs/CartQuickview.html
      -->
    </div>
  </div>   
  
  
  
  <form
  class="header__search m-0 mt-lg-0 d-none d-md-block"
  id="search-form"
  action="/search"
  method="get"
  autocomplete="off"
>
  <div class="d-md-none">
    <input
      type="text"
      
      name="term"
      placeholder="Óculos de sol, óculos de gráu..."
      aria-label="<%= _.dictionary('searchProducts') %>"
      class="header__search-input form-control"
      id="search-input"
      autocomplete="off"
    >
    <button
    
      type="submit"
      class="header__search-btn"
      aria-label="<%= _.dictionary('searchProducts') %>"
    >
      <img src="/assets/search.svg"/>
    </button>
  </div>
  <div id="instant-search">
    <!--
      `InstantSearch` should be open on input focus:
      https://developers.e-com.plus/storefront/@ecomplus/storefront-components/docs/InstantSearch.html
    -->
  </div>  
</form>

</header>
<!--
<div class="top-bar">
  <% if (header.marketing_stripe) { %>
    <% if (header.marketing_stripe.text) { %>
      <% if (header.marketing_stripe.link) { %>
        <a
          class="top-bar__countdown"
          style="<%= marketingStripeStyle %>"
          href="<%= header.marketing_stripe.link %>"
        >
          <%= header.marketing_stripe.text %>
        </a>
      <% } else { %>
        <div class="top-bar__countdown" style="<%= marketingStripeStyle %>">
          <%= header.marketing_stripe.text %>
        </div>
      <% } %>
    <% } %>
  <% } %>
</div>
-->

</div>