<%
// load header options and contacts from content
const header = _.cms('header') || {}
const apx_header = _.cms('apx_header') || {}
const contacts = _.cms('contacts') || {}
const themeCustom = _.settings.theme.custom || ''

// social networks handled by contacts
const networks = [
  'facebook',
  'youtube',
  'instagram',
  'twitter',
  'pinterest',
  'linkedin',
  'tiktok'
]

// marketing stripe custom styles
let marketingStripeStyle = ''
;['background', 'color'].forEach(prop => {
  if (header.marketing_stripe[prop]) {
    marketingStripeStyle += `${prop}:${header.marketing_stripe[prop]};`
  }
})

%>

<div id="overlay" class="fade"></div>
<header class="header py-0 px-0" id="header">
  <div class="container-fluid px-md-5 px-2">
    <div class="row align-items-center py-4">
      <div class="col-md col-12">
        <div class="apx_top_cta">
        <% if (header.marketing_stripe) { %>
          <% if (header.marketing_stripe.text) { %>
            <% if (header.marketing_stripe.link) { %>
              <a
                style="<%= marketingStripeStyle %>"
                href="<%= header.marketing_stripe.link %>"
              >
                <%- header.marketing_stripe.text %>
              </a>
            <% } else { %>
              <div class="top-bar__countdown" style="<%= marketingStripeStyle %>">
                <%- header.marketing_stripe.text %>
              </div>
            <% } %>
          <% } %>
        <% } %>
        </div>
      </div>
      <div class="col-md col d-block d-md-none" id="apx-mobile-functions">
        <div class="d-flex">
          <button type="button" onclick="$('#apx-menu').toggleClass('active')">            
            <svg width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1H17M1 6H17M1 11H17" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>  
          </button>
          <button
            class="d-lg-none btn btn-lg"
            id="mobile-search-btn"
            type="button"
            data-toggle="collapse"
            data-target="#search-bar"
            aria-expanded="true"
            aria-controls="search-bar"
            aria-controls="search-bar"
            title="<%= _.dictionary('searchProducts') %>"
          >
            <img src="/assets/Search-Outline.svg"/>
          </button>
        </div>
      </div>
      
      <div class="col-auto" id="apx-logo">
        <a href="/">
          <%- await include('@/layout/inc/logo', { _ }) %>
        </a>
      </div>
      <div class="col-md col justify-content-end" id="apx-functions">       
        <div
          class="header__buttons"
          role="group"
          aria-label="<%= _.dictionary('myAccount') %>"
        >          
          <button
            type="submit"
            class="apx_search-trigger"
            id="apx_search-trigger"
            data-toggle="collapse"
            data-target="#search-bar"
            aria-expanded="true"
            aria-controls="search-bar"
            aria-label="<%= _.dictionary('searchProducts') %>"
          >
            <img src="/assets/search.svg"/>
          </button>
          <span class="divider"></span>
          <a
            role="button"
            href="/page/onde-encontrar"
            title="Onde Encontrar"
          >
            Onde Encontrar
          </a>
          <span class="divider"></span>
          <a
            id="user-button"
            class="btn btn-lg"
            role="button"
            href="/app/#/account/"
            title="<%= _.dictionary('myAccount') %>"
          >
            Entrar
          </a>
          <span class="divider"></span>
          <a
            id="cart-button"
            class="btn btn-lg"
            role="button"
            href="/app/#/cart"
            title="<%= _.dictionary('openCart') %>"
          >
            <img src="/assets/cart.svg"/>
            <span id="cart-count" class="badge badge-primary"></span>
          </a>
        </div>
      </div>
    </div>
    
    <div id="login-modal">
      <!--
        `LoginModal` should be rendered here:
        https://developers.e-com.plus/storefront/@ecomplus/storefront-components/docs/LoginModal.html
      -->
    </div>
    <div id="cart-quickview">
      <!--
        `CartQuickview` should be rendered here:
        https://developers.e-com.plus/storefront/@ecomplus/storefront-components/docs/CartQuickview.html
      -->
    </div>
  </div>   
  
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md" id="apx-menu">
        <div class="d-flex justify-content-between align-items-center d-md-none apx-menu-header">
          <button type="button" onclick="$('#apx-menu').toggleClass('active')">            
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15 1L1 15M1.00001 1L15 15" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>  
          </button>
        </div>
        <% if (apx_header.links) { %>
          <ul class="level_1">
            <% apx_header.links.forEach(({ url, title, image, list })=> {
              let mega = list && list[0].item.image ? 'max_menu' : '';
              %>
              <li class="<%= list ? 'dropdown' : ''%> <%= mega %>">
                
                <a href="<%= url %>" data-image="<%= image ? image : 'empty' %>">
                  <%= title %>
                </a>
                <% if (list) { %>
                  <button type="button" onclick="$(this).closest('li').toggleClass('open')">                    
                      <svg width="6" height="4" viewBox="0 0 6 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <line x1="0.353553" y1="0.646447" x2="3.35355" y2="3.64645" stroke="black"/>
                      <line y1="-0.5" x2="4.24264" y2="-0.5" transform="matrix(-0.707107 0.707107 0.707107 0.707107 6 1)" stroke="black"/>
                      </svg>  
                  </button>
                <% } %>
                
                <% if (list) { 
                  

                  
                  %>
                  <div class="level_2 <%= mega %>">
                    <ul class="<%= mega %>">
                      <% list.forEach(({ item })=> { 
                        %>
                        <li class="">
                          <% if (item.image) { %>
                            <div class="row">
                              <div class="col-md-6">
                                <img src="<%= item.image %>" class="w-100" data-original="<%= item.image %>"/>
                              </div>
                              <div class="col-md-6 p-4">
                          <% } %>
                              <a href="<%= item.url %>">
                                <%= item.title %>
                              </a>
                              <% if (item.list) { %>
                                <ul>
                                <% item.list.forEach(({ item })=> { %>
                                  <li>
                                    <a href="<%= item.url %>">
                                      <%= item.title %>
                                    </a>
                                  </li>
                                <% }) %>
                                </ul>
                              <% } %>
                          <% if (item.image) { %>
                              </div>  
                            </div>
                          <% } %>
                        </li>
                      <% }) %>
                    </ul>
                    
                    
                    
                  </div>
                <% } %>
              </li>
            <% }) %>
          </ul>
        <% } %>
      </div>
    </div>
  </div>

  <form
  class="header__search mt-2 mt-md-3 mt-lg-0"
  id="search-form"
  action="/search"
  method="get"
  autocomplete="off"
>
  <div class="d-block">
    <input
      type="text"
      
      name="term"
      placeholder="<%= _.dictionary('searchProducts') %>"
      aria-label="<%= _.dictionary('searchProducts') %>"
      class="header__search-input form-control"
      id="search-input"
      autocomplete="off"
    >
    <button
    
      type="submit"
      class="header__search-btn"
      aria-label="<%= _.dictionary('searchProducts') %>"
    >
      <img src="/assets/Search-Outline.svg"/>
    </button>
  </div>
  <div id="instant-search">
    <!--
      `InstantSearch` should be open on input focus:
      https://developers.e-com.plus/storefront/@ecomplus/storefront-components/docs/InstantSearch.html
    -->
  </div>  
</form>

</header>
<!--
<div class="top-bar">
  <% if (header.marketing_stripe) { %>
    <% if (header.marketing_stripe.text) { %>
      <% if (header.marketing_stripe.link) { %>
        <a
          class="top-bar__countdown"
          style="<%= marketingStripeStyle %>"
          href="<%= header.marketing_stripe.link %>"
        >
          <%= header.marketing_stripe.text %>
        </a>
      <% } else { %>
        <div class="top-bar__countdown" style="<%= marketingStripeStyle %>">
          <%= header.marketing_stripe.text %>
        </div>
      <% } %>
    <% } %>
  <% } %>
</div>
-->

</div>